<div class="mb-4">
  <%= form.label :name, "Ad", class: "block text-left font-medium" %>
  <%= form.text_field :name, class: "w-full p-2 border rounded" %>
</div>
<div class="mb-4">
  <%= form.label :username, "Kullanıcı Adı", class: "block text-left font-medium" %>
  <%= form.text_field :username, class: "w-full p-2 border rounded" %>
</div>
<div class="mb-4">
  <%= form.label :email, "Email", class: "block text-left font-medium" %>
  <%= form.email_field :email, class: "w-full p-2 border rounded" %>
</div>
<div class="mb-4">
  <%= form.label :phone, "Telefon", class: "block text-left font-medium" %>
  <%= form.telephone_field :phone, class: "w-full p-2 border rounded" %>
</div>
<div class="mb-4">
  <%= form.label :website, "Website", class: "block text-left font-medium" %>
  <%= form.text_field :website, class: "w-full p-2 border rounded" %>
</div>
