<!DOCTYPE html>
<html>
  <head>
    <title>Albums</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <nav class="bg-cream-100 p-4 shadow-md">
      <div class="container mx-auto">
        <%= link_to "Albums", root_path, class: "text-black text-3xl font-handwriting" %>
      </div>
      </div>
    </nav>
    <main class="container mx-auto mt-10 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
  .font-handwriting {
    font-family: 'Indie Flower', cursive;
  }
  .bg-cream-100 {
    background-color: #f7f7f2;
  }
</style>
